@model IEnumerable<ProductShopCardViewModel>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["PageTitle"];
}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="@Localizer["Slide1"]"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="@Localizer["Slide2"]"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="@Localizer["Slide3"]"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-slides" id="firstCard">
                <section id="card-content">
                  <h2 id="catch">  @Html.Raw(Localizer["NatureGift"].Value)</h2>

                    <p id="info">@Localizer["HoneyExperience"]</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">@Localizer["ShopButton"]</a>
                </section>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-slides" id="secondCard">
                <section id="card-content">
                    <h2 id="catch">@Html.Raw(Localizer["ExquisiteHoney"].Value)</h2>
                    <p id="info">@Localizer["UltimateExperience"]</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">@Localizer["ShopButton"]</a>
                </section>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-slides" id="thirdCard">
                <section id="card-content">
                    <h2 id="catch">@Localizer["FromBeehive"] <br /> @Localizer["ToKitchen"]</h2>
                    <p id="info">@Localizer["FinestHoney"]</p>
                    <a asp-action="Index" asp-controller="Shop" class="btn btn-warning">@Localizer["ShopButton"]</a>
                </section>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Previous"]</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">@Localizer["Next"]</span>
    </button>
</div>

<section class="bestSellers-container">
    <h2 class="best-sellers-header">@Localizer["BestSellersHeader"]</h2>
    <partial name="_HomeBestSellersPartialView" model="Model"></partial>
</section>

<section id="whoAreWe" class="firstWhoAreWe">
    <img src="~/images/pexels-anete-lusina-5247966.jpg" alt="@Localizer["HoneyJarAltText"]" />
    <section>
        <h2>@Localizer["WhoAreWe"]</h2>
        <p>@Localizer["WhoAreWeDescription"]</p>
        <a asp-controller="Shop" asp-action="Index" class="btn btn-warning">@Localizer["CheckProducts"]</a>
    </section>
</section>

<section id="whoAreWe" class="secondWhoAreWe">
    <section>
        <h2>@Localizer["OurHoney"]</h2>
        <p>@Localizer["OurHoneyDescription"]</p>
    </section>
    <img src="~/images/pexels-gabby-k-7144971.jpg" alt="@Localizer["HoneyJarAltText"]" />
</section>

<section id="testimonials">
    <h2>@Localizer["CustomerStories"]</h2>
    <section>
        <div class="customer-story">
            <section id="bio">
                <img src="~/images/pexels-maksgelatin-5611966.jpg" />
                <section class="customerInfo">
                    <h5 class="nameOfTheClient">@Localizer["EmmaName"]</h5>
                    <p class="qualification">@Localizer["Model"]</p>
                </section>
            </section>
            <p>@Localizer["EmmaTestimonial"]</p>
        </div>
        <div class="customer-story">
            <section id="bio">
                <img src="~/images/pexels-rehan-sayyed-2999544-20489066.jpg" />
                <section class="customerInfo">
                    <h5 class="nameOfTheClient">@Localizer["AlexName"]</h5>
                    <p class="qualification">@Localizer["Runner"]</p>
                </section>
            </section>
            <p>@Localizer["AlexTestimonial"]</p>
        </div>
        <div class="customer-story">
            <section id="bio">
                <img src="~/images/pexels-olly-774909.jpg" />
                <section class="customerInfo">
                    <h5 class="nameOfTheClient">@Localizer["MariaName"]</h5>
                    <p class="qualification">@Localizer["FitnessInstructor"]</p>
                </section>
            </section>
            <p>@Localizer["MariaTestimonial"]</p>
        </div>
        <div class="customer-story">
            <section id="bio">
                <img src="~/images/pexels-miquel-ferran-gomez-figueroa-2172703-3814446.jpg" />
                <section class="customerInfo">
                    <h5 class="nameOfTheClient">@Localizer["ChefLucaName"]</h5>
                    <p class="qualification">@Localizer["Chef"]</p>
                </section>
            </section>
            <p>@Localizer["ChefLucaTestimonial"]</p>
        </div>
    </section>
</section>

<section id="faq">
    <h2>@Localizer["FAQ"]</h2>
    <section>
        <div id="questions">
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#first" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQUnique"]
                </button>
            </p>
            <div class="collapse" id="first">
                <div class="card card-body">
                    @Localizer["FAQUniqueAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#second" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQSource"]
                </button>
            </p>
            <div class="collapse" id="second">
                <div class="card card-body">
                    @Localizer["FAQSourceAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#third" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQRawProcessed"]
                </button>
            </p>
            <div class="collapse" id="third">
                <div class="card card-body">
                    @Localizer["FAQRawProcessedAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#fourth" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQQuality"]
                </button>
            </p>
            <div class="collapse" id="fourth">
                <div class="card card-body">
                    @Localizer["FAQQualityAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#fifth" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQVisit"]
                </button>
            </p>
            <div class="collapse" id="fifth">
                <div class="card card-body">
                    @Localizer["FAQVisitAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#sixth" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQHealthBenefits"]
                </button>
            </p>
            <div class="collapse" id="sixth">
                <div class="card card-body">
                    @Localizer["FAQHealthBenefitsAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#seventh" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQCookingBaking"]
                </button>
            </p>
            <div class="collapse" id="seventh">
                <div class="card card-body">
                    @Localizer["FAQCookingBakingAnswer"]
                </div>
            </div>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#eighth" aria-expanded="false" aria-controls="collapseExample">
                    @Localizer["FAQShipping"]
                </button>
            </p>
            <div class="collapse" id="eighth">
                <div class="card card-body">
                    @Localizer["FAQShippingAnswer"]
                </div>
            </div>
        </div>
    </section>
</section>
