@using System.Text
@model StatisticsViewModel

@if (@TempData["Error"]!=null)
{
    <div class="alert alert-danger alert-dismissible mt-2">
        @TempData["Error"]
        <a href="#" class="btn btn-close close" data-dismiss="alert" aria-label="close"></a>
    </div>
}
@if (@TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible mt-2">
        @TempData["Success"]
        <a href="#" class="btn btn-close close" data-dismiss="alert" aria-label="close"></a>
    </div>
}

<partial name="_AdminNavPartialView"/>
<div class="bg-black w-10 d-flex mt-5 p-lg-5">
    <div class="bg-white w-10 p-lg-5">
        <h2>Products sold per category</h2>
        <canvas id="myChart"></canvas>
    </div>
    <div class="bg-black w-10">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
              
                    @Html.Raw(string.Join(", ", Model.CategoryStatistic.Categories.Select(x => $"'{x}'")))
            ],
            datasets: [{
                label: 'Sold Items',
                data: [
                        @{
                            List<string>values=new();
                        }
                        @foreach (var categoryName in Model.CategoryStatistic.Categories)
                        {
                            values.Add(Model.CategoryStatistic.ProductsSoldInCategory[categoryName].ToString());    
                        }       
                        @string.Join(", ",values)
                    ],
                backgroundColor: [

                    @foreach (var item in Model.CategoryStatistic.ProductsSoldInCategory)
                    {
                        Random rnd = new Random();
                        int value = rnd.Next(0,255);
                        @: 'rgb(@value, @value, @value)',
                    }
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        }
    });
</script>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}