@model IEnumerable<OrdersFromUserViewModel>

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible mt-2">
        @TempData["Message"]
        <a href="#" class="btn btn-close close" data-dismiss="alert" aria-label="close"></a>
    </div>
}
<section class="products-cart ">
    @if(Model.Count() == 0)
    {
        <h2 class="text-center text-light">You have no orders</h2>
    }
   
   @foreach (var order in Model)
            {
                 <div>
                        <button class="btn my-orders" data-bs-toggle="collapse" data-bs-target="#order-products-@(order.GetHashCode())" aria-expanded="false" aria-controls="collapseExample">
                            <ul type="none">
                                <li>Обща сума <span>@(order.TotalSum)лв.</span></li>
                    <li>Поръчана на  <span>@order.OrderDate</span></li>
                    <li>Адрес  <span>@order.Address</span></li>
                    <li>Статус на поръчка  <span>@order.State</span></li>
                            </ul>
                        </button>
                        <div class="collapse" id="order-products-@(order.GetHashCode())">
                            <div class=".my-card-body">
                                    <h3 class="products-header">Продукти</h3>
                                    <table class="table table-striped-colums table-dark  table-bordered border-warning table-hover table-md">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">Име</th>
                                                <th scope="col">Количество</th>
                                                <th scope="col">Цена</th>
                                                <th scope="col">Разфасовка</th>

                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            @foreach (var product in order.Products)
                                            {
                                                <tr>
                                                    <td>@product.Name</td>
                                                    <td>@product.Quantity</td>
                                                    @if(product.IsDiscounted)
                                                    {
                                                     <td><span class="price-before">@product.Price</span> @(product.DiscountedPrice)лв</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@product.Price</td>
                                                    }
                                                    <td>@(product.ProductAmount)</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
            }
  
   
    
</section>