@model IEnumerable<ProductAdminViewModel>
@{
}
<table class="table mb-10 mt-3 table-striped table-light table-bordered border-warning table-hover table-sm datatable" id="products">
    <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Times Ordered</th>
            <th scope="col">Discount (%)</th>
            <th scope="col">Amount Left</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row" class="align-middle">@product.Id</th>
                <td class="col-md-1">
                    <img src="~/productImages/@product.MainImageName"
                         class="img-fluid"
                         alt="There is no image" />
                </td>
                <td class="col-md-1">@product.Name</td>
                <td>@product.Price</td>
                <td>@product.TimesOrdered</td>
                <td>@product.Discount%</td>
                <td>@product.QuantityInStock</td>
                <td>@product.ProductAmount</td>
                <td>@product.CategoryId</td>
                <td class="col-md-4">
                    @product.Description
                </td>
                <td class="col-md-3">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Discount
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#discountProduct-@product.GetHashCode()">
                                Add New
                            </button>
                        </li>
                        @if (product.IsDiscounted)
                        {
                            <li>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#remove-discountProduct-@product.GetHashCode()">
                                    Remove Discount
                                </button>
                            </li>
                        }
                    </ul>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-Id="@product.Id">
                        Edit
                    </a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProduct-@product.GetHashCode()">
                        Delete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <strong class="bg-info">Important!</strong> To delete the product, it should not be included in any order (unless the order is completed).
                                    <strong class="bg-warning">Warning!</strong> The product will be deleted. Are you sure?
                                </div>
                                <div class="my-modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form asp-action="DeleteProduct" method="post" class="d-inline-block">
                                        <input type="hidden" value="@product.Id" name="Id" />
                                        <button type="submit" class="btn btn-outline-danger">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="discountProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="SetDiscount" method="post" class="d-inline-block">
                                    <div class="modal-body">
                                        <strong class="bg-warning">Warning!</strong> You will set a discount to the product, are you sure?
                                        <label>Enter % Discount</label>
                                        <input type="number" name="Discount" min="1" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                        <input type="hidden" value="@product.Id" name="Id" />

                                        <button type="submit" class="btn btn-outline-success">
                                            Apply
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="remove-discountProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="RemoveDiscount" method="post" class="d-inline-block">
                                    <div class="modal-body">
                                        <strong class="bg-warning">Warning!</strong> The product's discount will be removed. Are you sure?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                        <input type="hidden" value="@product.Id" name="Id" />

                                        <button type="submit" class="btn btn-outline-success">
                                            Remove
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
