@model IEnumerable<UserViewModel>

@{
}
<table class="table mb-10 mt-3 table-striped table-light table-bordered border-warning table-hover table-sm datatable" id="products">
    <thead>
        <tr class="text-center">
            <th scope="col">Идентификационен номер</th>
            <th scope="col">Име</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Електронна поща</th>
            <th scope="col">Роли</th>
            <th scope="col">Действия</th>

        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row" class="align-middle">@user.Id</th>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@string.Join("; ", user.Roles)</td>
                <td class="col-md-3">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addrole-@user.GetHashCode()">
                        Добавяне към Роля
                    </button>
                    <div class="modal fade" id="addrole-@user.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="AddUserToRole" method="post" class="d-inline-block">
                                    <div class="modal-body">
                                        <label>Въведете Име на Роля</label>
                                        <input type="text" name="roleName" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>

                                        <input type="hidden" value="@user.Id" name="userId" />

                                        <button type="submit" class="btn btn-outline-success">
                                            Приложи
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
