@model IEnumerable<ProductAdminViewModel>
@{
   
}
<table class="table mb-10 mt-3 table-striped table-light table-bordered border-warning table-hover table-sm datatable" id="products">
    <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Снимка</th>
            <th scope="col">Име</th>
            <th scope="col">Цена</th>
            <th scope="col">Промоция</th>
            <th scope="col">Промоция (%)</th>
            <th scope="col">Количесво</th>
            <th scope="col">Дозировка</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание</th>
            <th scope="col">Операции</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row" class="align-middle">@product.Id</th>
                <td class="col-md-1">
                    <img src="productImages/@product.MainImageName"
                         class="img-fluid"
                         alt="Все още няма снимки" />
                </td>
                <td class="col-md-1">@product.Name</td>
                <td>@product.Price</td>
                <td>@product.IsDiscounted</td>
                <td>@product.Discount%</td>
                <td>@product.QuantityInStock</td>
                <td>@product.ProductAmount</td>
                <td>@product.CategoryId</td>
                <td class="col-md-4">
                    @product.Description
                </td>
                <td class="col-md-3">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Промоция
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#discountProduct-@product.GetHashCode()">
                                Добави нова
                            </button>
                        </li>
                        @if (product.IsDiscounted)
                        {
                            <li>
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#remove-discountProduct-@product.GetHashCode()">
                                    Премахни промоция
                                </button>
                            </li>
                        }
                    </ul>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-Id="@product.Id">
                        Редактирай
                    </a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProduct-@product.GetHashCode()">
                         Изтрий
                     </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <strong>Важно! </strong>За да бъде изтрит продуктът, трябва да не се съдържа в някоя поръчка (освен ако поръчката не е завършена) 
                                   <strong>Предупреждение! </strong> Продуктът ще бъде изтрит. Сигурни ли сте?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>
                                    <form asp-action="DeleteProduct" method="post" class="d-inline-block">
                                        <input type="hidden" value="@product.Id" name="Id" />
                                        <button type="submit" class="btn btn-outline-danger">
                                            Изтрий
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="discountProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="SetDiscount" method="post" class="d-inline-block">
                                <div class="modal-body">
                                        <label>Въведи % промоция</label>
                                        <input type="number" name="Discount" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>
                                   
                                        <input type="hidden" value="@product.Id" name="Id" />
                                        
                                        <button type="submit" class="btn btn-outline-success">
                                            Приложи
                                        </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="remove-discountProduct-@product.GetHashCode()" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-action="RemoveDiscount" method="post" class="d-inline-block">
                                    <div class="modal-body">
                                        <strong>Важно! </strong>Ще се изтрие промоцията на продукта. Сигурни ли сте?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отказ</button>

                                        <input type="hidden" value="@product.Id" name="Id" />

                                        <button type="submit" class="btn btn-outline-success">
                                            Премахни
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>