@model IEnumerable<ProductCartViewModel>
@inject IViewLocalizer Localizer
@if (@TempData["Message"] != null)
{
    <div class="alert alert-danger alert-dismissible mt-2">
        @TempData["Message"]
        <a href="#" class="btn btn-close close" data-dismiss="alert" aria-label="close"></a>
    </div>
}
    <div class="cart-container">
        <h2>Cart</h2>

        <form asp-action="CartConfirmed" method="post" class="cart-information">

                @for (var i = 0; i < Model.Count(); i++)
                {
                    <div class="product-in-cart">
                        <img src="~/productImages/@Model.ElementAt(i).MainImageName" />
                        <div class="product-cart-info">
                            <label class="name">@Model.ElementAt(i).Name</label>
                            @if (Model.ElementAt(i).IsDiscounted)
                            {
                                <label class="price">
                                    <span class="price-before">@Model.ElementAt(i).Price</span> @((Model.ElementAt(i).Price - (Model.ElementAt(i).Price * Model.ElementAt(i).Discount / 100)).ToString("F2")) лв
                                </label>
                            }
                            else
                            {
                                <label class="price">@Model.ElementAt(i).Price лв</label>
                            }
                    <input class="quantity" type="number" name="[@i].Quantity" value="@Model.ElementAt(i).Quantity" min="1" />
                        </div>
                        <div class="product-cart-actions">
                            <button class="btn btn-outline-danger" asp-action="RemoveFromCart" asp-route-id="@Model.ElementAt(i).Id">Remove</button>
                        </div>
                    </div>
                    <input type="text" name="[@i].ProductId" value="@Model.ElementAt(i).Id" hidden />

                                
                               
                               
                               
                                   
                   
            }
    
        <div class="d-flex gap-3 align-items-center justify-content-center" id="cart-buttons">
            <a asp-action="Index" class="btn back-button">@Localizer["keepshoping"]</a>
            <button type="submit" class="btn btn-outline-success order-button">@Localizer["order"]</button>

        </div>
            

        </form>

    </div>
