@model ShopViewModel
@{
}
<section class="store-section">
    <section class="filter">
        <ul type="none" id="filter">
            <h1 class="ul-header">ФИЛТРИ</h1>
            <li>
                <a class="btn" id="filter-action" asp-action="Index" asp-route-category="All">Всички</a>

            </li>
            @foreach (var category in Model.Categories.Select(c=>c.Name))
            {
                <li>
                    <a class="btn" id="filter-action" asp-action="Index" asp-route-category="@category">@category</a>

                </li>
            }
            <li>
            <li>
                <a class ="btn" id="filter-action">Най-продавани</a>
            </li>
        </ul>
    </section>
    <section products>

        <ul type="none" class="all-products">
            @foreach (var productDto in Model.Products)
            {
                <li class="product-card">
                    <img src="~/productImages/@productDto.MainImageName" alt="" />
                    <p class="name">@productDto.Name</p>
                    <div class="row">
                        @{
                            double price = productDto.Price;
                            string formattedNumber = string.Empty;
                            if(productDto.IsDiscounted)
                            {
                               
                                string priceBeforeDiscount = productDto.Price.ToString("F2");
                                price = productDto.Price - (productDto.Price * productDto.Discount / 100);
                                formattedNumber = price.ToString("F2");
                                <p class="price"><span class="price-before">@(priceBeforeDiscount)лв</span>     @(formattedNumber)лв</p>
                            }
                            else
                            {
                                formattedNumber = price.ToString("F2");
                                <p class="price ">@(formattedNumber)лв</p>
                            }

                        }

                        <a class="buy btn" asp-action="ViewProduct" asp-route-id="@productDto.Id">КУПИ</a>
                    </div>
                </li>
            }
        </ul>
    </section>
</section>
<script src="~/js/index.js"></script>