@model ProductShopDetailsViewModel
@inject IViewLocalizer Localizer
<div class="my-card">
    <section class="main-view">
        <div class="product-picture">
            <div class="image-container">
                <img src="~/productImages/@Model.MainImageName" alt="" />
            </div>

            <div class="slider-wrapper"></div>
            <div class="more-pics">
                @foreach (var item in Model.ImagesNames)
                {
                    <img src="~/productImages/@item" alt="" />

                }
            </div>
        </div>
        <div class="description">
            <h1>@Model.Name</h1>
            <div class="stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            @{
                double price = Model.Price;
                string formattedNumber = string.Empty;
                if (Model.IsDiscounted)
                {

                    string priceBeforeDiscount = Model.Price.ToString("F2");
                    price = Model.Price - (Model.Price * Model.Discount / 100);
                    formattedNumber = price.ToString("F2");
                    <p class="price"><span class="price-before">@(priceBeforeDiscount)lv</span>     @(formattedNumber)lv</p>
                }
                else
                {
                    <p class="price">@(price.ToString("F2")) lv.</p>
                }

            }
            
            <div class="more-description">
                @if (Model.QuantityInStock > 0)
                {
                    <div class="available">Available In Stock </div>
                }
                else
                {
                    <div class="available "><span class="bg-danger">Out of Stock</span>  </div>

                }

                <p class="text">
                    @Model.Description
                </p>
                <div class="product-actions d-flex justify-content-around align-items-center">
                    <a asp-action="Index" class="btn back-button">@Localizer["back"]</a>
                    @if (Model.QuantityInStock > 0)
                    {
                        <a asp-action="AddToCart" asp-route-Id="@Model.Id" class="add-to-cart btn">@Localizer["addtocart"]</a>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="more-products">
        <div class="slider-background">
            <div class="slider-content">
                @await Component.InvokeAsync("MoreProducts")
            </div>
        </div>
       
    </section>
</div>
<script src="~/js/quantity.js"></script>
<script src="~/js/showImage.js"></script>
