@using HoneyZoneMvc.Infrastructure.Data.Models.ViewModels;
@using HoneyZoneMvc.Infrastructure.Data.Models.ViewModels.ProductViewModels
@model ProductShopDetailsViewModel
<div class="card">
    <section class="main-view">
        <div class="product-picture">
            <div class="image-container">
                <img src="~/productImages/@Model.MainImageName" alt="" />
            </div>

            <div class="slider-wrapper"></div>
            <div class="more-pics">
                @foreach (var item in Model.ImagesNames)
                {
                    <img src="~/productImages/@item" alt="" />

                }
            </div>
        </div>
        <div class="description">
            <h1>@Model.Name</h1>
            <div class="stars">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="price">@Model.Price лв.</div>
            <div class="more-description">
                @if (Model.QuantityInStock > 0)
                {
                    <div class="available">Наличност: Наличен </div>
                }
                else
                {
                    <div class="available ">Наличност: <span class="bg-danger">Не е наличен</span>  </div>

                }

                <p class="text">
                    @Model.Description
                </p>
                <p >
                    Количество: @Model.ProductAmount
                </p>
                <div class="quantity-box">
                    <a asp-action="AddToCart" asp-route-Id="@Model.Id" class="add-to-cart btn" >Добави в количката</a>
                </div>
            </div>
        </div>
    </section>
    <div class="scrollspy">
    </div>
</div>
<script src="~/js/quantity.js"></script>
<script src="~/js/showImage.js"></script>
