@model OrderViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6 text-light order-info-table">
            <section class="order-info">
                <h3>Информация за поръчката</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p>Номер на поръчката (Id): @Model.Id</p>
                        <p>Общо количество: @Model.TotalSum</p>
                        <p>Метод на доставка: @Model.DeliveryMethod</p>
                        <p>Име на клиента: @Model.ClientName</p>
                        <p>Адрес: @Model.Address</p>
                        <p>Телефонен номер: @Model.PhoneNumber</p>
                        <p>Поръчана на: @Model.OrderDate</p>
                        <p>Очаквана дата на доставка: @Model.ExpectedDelivery</p>
                        <p>Статус: @Model.State</p>
                    </div>
                </div>
            </section>

            <div class="">
                <h3>Продукти</h3>
                <table class="table table-striped-colums table-dark  table-bordered border-warning table-hover table-md">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Идентификационен номер</th>
                            <th scope="col">Име</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>@product.Quantity</td>
                                <td>@product.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
