@using HoneyZoneMvc.Infrastructure.Data.Models.ViewModels
@model ProductViewModel

@Html.Partial("_ActionsPartialView", Model)
<section class="search-bar">
    <input type="text" class="bar" placeholder="Въведи име на продукт" />
</section>
<table class="table mb-10 mt-3 table-striped table-light table-bordered border-warning table-hover table-sm datatable">
    <thead>
        <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Снимка</th>
            <th scope="col">Име</th>
            <th scope="col">Цена</th>
            <th scope="col">Количесво</th>
            <th scope="col">Дозировка</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание</th>
            <th scope="col">Операции</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var product in Model.ProductDtos)
        {
            <tr>
                <th scope="row" class="align-middle">@product.Id</th>
                <td class="col-md-1">
                    <img src="productImages/@product.MainImageName"
                    class="img-fluid"
                    alt="Все още няма снимки" />
                </td>
                <td class="col-md-1">@product.Name</td>
                <td>@product.Price</td>
                <td>@product.QuantityInStock</td>
                <td>@product.ProductQuantity</td>
                <td>@product.Category</td>
                <td class="col-md-4">
                @product.Description
                </td>
                <td class="col-md-4">
                    <button class="btn btn-outline-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                 Промоция
                </button>
                    <button class="btn btn-outline-primary" data-bs-toggle="modal"
                            data-bs-target="#Edit-@product.Id"
                            data-url="@Url.Action($"Edit/{product.Id}")">
                        Добави снимка
                    </button>
                   

                <button class="btn btn-outline-secondary"
                    data-bs-toggle="modal"
                            data-bs-target="#Edit-@product.Id"
                            data-url="@Url.Action($"Edit/{product.Id}")">
                Редактирай
                </button>
                    @{
                        Model.ProductView.Id = product.Id;
                        Model.ProductView.Name = product.Name;
                        Model.ProductView.QuantityInStock = product.QuantityInStock;
                        Model.ProductView.ProductQuantity = product.ProductQuantity;
                        Model.ProductView.Price = product.Price;
                        Model.ProductView.Description = product.Description;
                        Model.ProductView.Category = product.Category;
                        Model.ProductView.MainImageName = product.MainImageName;



                    }
                    <button class="btn btn-outline-danger">Изтрий</button>
                    @await Html.PartialAsync("EditProductPartialView", Model)

              @*       <div class="modal fade"
                         id="Edit"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        Приложи промоция
                                    </h1>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="SubmitChanges" method="post">
                                        <input hidden asp-for="@product.Id" />
                                        <label class="form-label mt-5">Снимка</label>
                                        <div class="input-group mb-3">
                                            <input type="file"
                                                   class="form-control"
                                                   id="inputGroupFile02" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="@product.Name">Име:</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="NameEdit"
                                                   asp-for="@product.Name" />
                                            <div id="currentName" class="form-text">
                                                Текущо име:@product.Name
                                            </div>
                                            <span asp-validation-for="@product.Name"></span>
                                        </div>

                                        <div class="input-group">
                                            <label class="form-label" asp-for="@product.Price">Цена:</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="PriceEdit"
                                                   asp-for="@product.Price" />
                                            <span class="input-group-text">лв</span>
                                            <span class="input-group-text">0.00</span>
                                            <span asp-validation-for="@product.Price"></span>
                                        </div>
                                        <div id="currentPrice" class="form-text">
                                            Текуща цена:@product.Price
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="@product.QuantityInStock">Количество в склад:</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="QuantityInStockEdit"
                                                   asp-for="@product.QuantityInStock" />
                                            <span asp-validation-for="@product.QuantityInStock"></span>
                                            <div id="currentName" class="form-text">
                                                Текущo количесво в склад:@product.QuantityInStock
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="@product.ProductQuantity">Дозировка:</label>
                                            <input type="number"
                                                   class="form-control"
                                                   id="ProductQuantityEdit"
                                                   asp-for="@product.ProductQuantity" />
                                            <span asp-validation-for="@product.ProductQuantity"></span>
                                            <div id="currentName" class="form-text">
                                                Текуща дозировка:@product.ProductQuantity
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="@product.Description">Описание:</label>
                                            <input rows="4" cols="50" type="text"
                                                   class="form-control"
                                                   id="DescriptionEdit"
                                                   asp-for="@product.Description" />
                                            <span asp-validation-for="@product.Description"></span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Отказ
                                            </button>
                                            <button type="submit" class="btn btn-success">
                                                Запази промени
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Отказ
                                    </button>
                                    <button type="button" class="btn btn-success" id="liveToastBtn">
                                        Запази промени
                                    </button>
                                    <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                        <div id="liveToast"
                                             class="toast alert alert-warning"
                                             role="alert"
                                             aria-live="assertive"
                                             aria-atomic="true"
                                             data-bs-autohide="true">
                                            <div class="toast-header bg-warning">
                                                <img src="images/logo.png" class="rounded me-2" alt="..." />
                                                <strong class="me-auto">Система</strong>
                                                <small>Време...</small>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="toast"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="toast-body alert alert-success">Успешно редактиране</div>
                                        </div>
                                    </div>

                                    <script>

                                        document
                                            .getElementById("liveToastBtn")
                                            .addEventListener("click", function () {
                                                var toastEl = document.getElementById("liveToast");
                                                var toast = new bootstrap.Toast(toastEl);
                                                toast.show();
                                            });
                                    </script>
                                </div>
                            </div>

                        </div>
                    </div>  *@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}