@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer


    <header id="about-us">
        <h2>@Localizer["AboutUsHeader"]</h2>
        <p>@Localizer["AboutUsDescription"]</p>
    </header>
    <section id="whoAreWe" class="firstWhoAreWe">
        <img src="~/images/pexels-anete-lusina-5247966.jpg" alt="@Localizer["BeekeeperAlt"]" />
        <section>
            <h2>@Localizer["WhoAreWeHeader"]</h2>
            <p>@Localizer["WhoAreWeDescription"]</p>
            <a asp-controller="Shop" asp-action="Index" class="btn btn-warning">@Localizer["CheckProducts"]</a>
        </section>
    </section>
    <section id="our-staff">
        <h2>@Localizer["OurFamilyHeader"]</h2>
        <ul type="none">
            <li class="card">
                <img src="~/images/pexels-olly-762020.jpg" class="card-img-top" alt="@Localizer["VasilenaAlt"]">
                <div class="card-text">
                    <h4>@Localizer["VasilenaName"]</h4>
                    <p class="qualification">@Localizer["FounderTitle"]</p>
                    <p class="brief-info">@Localizer["VasilenaBio"]</p>
                </div>
            </li>
            <li class="card">
                <img src="~/images/beekeeper.jpg" class="card-img-top" alt="@Localizer["JaneAlt"]">
                <div class="card-text">
                    <h4>@Localizer["JaneName"]</h4>
                    <p class="qualification">@Localizer["HeadBeekeeperTitle"]</p>
                    <p class="brief-info">@Localizer["JaneBio"]</p>
                </div>
            </li>
            <li class="card">
                <img src="~/images/mar.jpg" class="card-img-top" alt="@Localizer["EmilyAlt"]">
                <div class="card-text">
                    <h4>@Localizer["EmilyName"]</h4>
                    <p class="qualification">@Localizer["MarketingDirectorTitle"]</p>
                    <p class="brief-info">@Localizer["EmilyBio"]</p>
                </div>
            </li>
            <li class="card">
                <img src="~/images/opera.jpg" class="card-img-top" alt="@Localizer["RobertAlt"]">
                <div class="card-text">
                    <h4>@Localizer["RobertName"]</h4>
                    <p class="qualification">@Localizer["OperationsManagerTitle"]</p>
                    <p class="brief-info">@Localizer["RobertBio"]</p>
                </div>
            </li>
            <li class="card">
                <img src="~/images/productdev.jpg" class="card-img-top" alt="@Localizer["SarahAlt"]">
                <div class="card-text">
                    <h4>@Localizer["SarahName"]</h4>
                    <p class="qualification">@Localizer["ProductDevelopmentTitle"]</p>
                    <p class="brief-info">@Localizer["SarahBio"]</p>
                </div>
            </li>
            <li class="card">
                <img src="~/images/cus-relat.jpg" class="card-img-top" alt="@Localizer["MariaAlt"]">
                <div class="card-text">
                    <h4>@Localizer["MariaName"]</h4>
                    <p class="qualification">@Localizer["CustomerRelationsTitle"]</p>
                    <p class="brief-info">@Localizer["MariaBio"]</p>
                </div>
            </li>
        </ul>
    </section>